@import 'i-branding-colours.scss';
@import 'i-global-styles.scss';

.accordion {
    border: 1px solid $bg-secondary-hover;
    border-radius: $border-radius;
    padding: 10px;

    .accordion-item {
        padding: 10px 0px;

        .accordion-button {
            border-radius: $border-radius $border-radius 0px 0px !important;
            box-shadow: none !important;
            color: $fg-primary !important;

            &:not(.collapsed) {
                background-color: $bg-secondary-hover;
            }
        }

        .accordion-body {
            border: 1px solid $bg-secondary-hover;
            border-radius: 0px 0px $border-radius $border-radius;
            border-top: none;
        }
    }
}