// Foreground colours
$fg-primary: #24292f;
$fg-primary-hover: #57606a;

// Background colours
$bg-primary: #fff;
$bg-secondary: #f6f8fa;
$bg-secondary-hover: #dddfe1;

// Button colours
$button-primary: #2986cc;
$button-primary-hover: #1C5C8C;