@using QuizManager.Models.Helpers

@{
    ViewData["Title"] = AccountConstants.AccessDenied;
}

<div class="page-heading row">
    <div class="col-sm-6 text-sm-start col-12 text-center px-4">
        <h1>@AccountConstants.AccessDenied</h1>
    </div>
</div>

@await Html.PartialAsync("_NothingToDisplay", new NothingToDisplayViewModel() { Message = AccountConstants.AccessDeniedMessage, ShowGoToHomepageButton = true })