@model AnswerUpdateViewModel

@{
    ViewData["Title"] = @Model.TitleText;
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial"); 
}

<div class="page-heading row">
    <div class="col-sm-6 text-sm-start col-12 text-center px-4">
        <h1>@Model.TitleText</h1>
    </div>
</div>

<div class="row">
    <div class="formContainer col-xl-6 col-sm-8 col-12 m-auto">
        <form asp-controller="Answer" asp-action="Update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="AnswerText" type="text" id="answerText" class="form-control" autofocus>
                <label asp-for="AnswerText" for="answerText"></label>
                <span asp-validation-for="AnswerText" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <label asp-for="IsCorrectAnswer" for="isCorrectAnswer" class="form-check-label"></label>
                <input asp-for="IsCorrectAnswer" type="checkbox" id="isCorrectAnswer" class="form-check-input">
            </div>
            <input asp-for="QuestionId" type="hidden" id="hiddenQuestionId">
            <input asp-for="AnswerId" type="hidden" id="hiddenAnswerId">
            <input asp-for="AnswerIndex" type="hidden" id="hiddenAnswerIndex">

            <div class="button-container row mb-3">
                <div class="col-sm-6 col-12">
                    <a class="btn btn-secondary" asp-area="" asp-controller="Question" asp-action="Details" asp-route-questionId="@Model.QuestionId">Cancel</a>
                </div>
                <div class="col-sm-6 col-12 mt-sm-0 mt-2">
                    <button type="submit" class="btn btn-primary">@Model.ButtonSubmitText</button>
                </div>
            </div>
        </form>
    </div>
</div>